.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Welcome Banner */
.welcome-banner {
  width: 100%;
}

.welcome-banner .line-horizontal {
  width: 80%;
  height: 2px;
  background-color: #000;
  opacity: 0.3;
}

.welcome-banner .welcome-text {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

/* Responsive Touch */
@media (max-width: 768px) {
  .welcome-banner .line-horizontal {
    width: 60%;
  }

  .welcome-banner .welcome-text {
    font-size: 1.8rem;
  }
}